# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Redis
*.rdb

# Bower
app/assets/vendor

# PSD
*.psd

!app/public/images/cards/empty.png
*.js
