html(ng-app="chat-app",ng-controller="ChatCtrl")
  head
    title Ankit Sardesai
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css')
    != css('master')
    //- script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    //- script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    //- script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-route.js')
    script(type='text/javascript',src='/socket.io/socket.io.js')
    != js('modernizr')
  body

    ul.messages
      li.message(ng-repeat="message in messages")
        .user {{message.user}}
        .message {{message.message}}
        .clearfix

    .stuff

    hr

    form.chat(ng-submit="sendMessage()")

      .user
        label User:
        input(type='text',name='user',ng-model='currentUser')

      .message
        label Message:
        input(type='text',name='message',ng-model='currentMessage')

      button.button(type='submit') click me

    != js('services')
    != js('master')
