
.main-section.loading(ng-show='loading')
  .title-pane
    h1.title NUO
  .loading-text.full-pane Loading...

.main-section.login(ng-show='login && !loading')
  .title-pane
    h1.title NUO
  .form.full-pane
    form(ng-submit='joinRoom()')
      h3.message Enter your name:
      input.username(type='text',ng-model='username',maxlength='16')
      button.send(type='submit') join

.main-section.main-room(ng-show='!login && !loading')
  .title-pane
    h1.title NUO
  .container
    .left-pane.player-list
      h3.message(ng-hide='roomInfo.playerCount == 0') Players
      h3.message(ng-show='roomInfo.playerCount == 0') No Players!
      ul
        li(ng-repeat='player in players',ng-class='{"current-user": $index == playerIndex, "current-player": roomInfo.gameState == "started" && $index == roomInfo.currentPlayer,"wants-to-start": roomInfo.gameState == "notstarted" && roomInfo.playerGameStarted[$index]}')
          .player
            .fa.fa-arrow-right
            .fa.fa-check
            .fa.fa-star
            | {{player.name}}
          .cards
            img(src='/images/cards/mini.png',ng-repeat='c in player.cards track by $index')
      h3.message(ng-hide='roomInfo.playerCount < 3') Direction of play
      h3.message.direction(ng-hide='roomInfo.playerCount < 3', ng-class='{"direction-up": direction < 0, "direction-down": direction > 0}')
        .fa.fa-arrow-up
        .fa.fa-arrow-down

    .right-pane

      .section.notstarted(ng-show='roomInfo.gameState == "notstarted"')
        .messages
          h3.message Hello, {{username}}!
          h3.message-small Click the button if you want to start the game.
          h3.message-small It will only start when all players decide to start the game.
          h3.message-small Every game must have a minimum of two players.
          button.big-button(ng-show='!myProperties.playerStarted',ng-click='startGame()') Start Game
          h3.message(ng-show='myProperties.playerStarted')
            .fa.fa-spinner.fa-pulse
            | Waiting for other players

      .section.started(ng-show='roomInfo.gameState == "started"',ng-class='{"is-my-turn": isMyTurn}')
        .mask
        .game-table
          .pile
            img.card(ng-src="/images/cards/{{roomInfo.pile == '' ? 'empty' : roomInfo.pile}}.png")
            span.color(ng-show='roomInfo.wildColor',ng-class='roomInfo.wildColor') {{roomInfo.wildColor}}
            h3.message Last Card Played
          .deck
            a(href='#',ng-click='drawCard()')
              img.card(ng-src="/images/cards/back.png")
            h3.message Deck
        .hand
          h3.message Your Hand
          h3.message-small
            span(ng-show='!isMyTurn') It is currently not your turn!
            span(ng-show='invalidMove && isMyTurn') Invalid move!
            span(ng-show='!invalidMove && isMyTurn') It is your turn.&nbsp;
              //- a(href='#',ng-click='skipTurn()') (skip turn)
          ul
            li(ng-repeat='playerCard in myProperties.playerCards track by $index')
              a(href='#',ng-click='playCard(playerCard)')
                img.card(ng-src='/images/cards/{{playerCard}}.png')
    .overlay.chooseColor(ng-show='isMyTurn && roomInfo.playState == "chooseColor"')
      .contents
        ul
          li(ng-repeat='color in colors')
            button.big-button(ng-class='color',ng-click='chooseColor(color)') {{color}}
    .overlay.error(ng-show='error != ""')
      .contents
        a.close.fa.fa-close(href='#',ng-click='error = ""',ng-hide='fatal')
        .message {{error}} (Code {{error_code}})

    .overlay.winner(ng-show='roomInfo.gameState == "ended"')
      .contents
        a.close.fa.fa-close(href='#',ng-click='playAgain(false)',ng-hide='fatal')
        .message The winner is {{winner}}!
        .message Play again?
        button.big-button(ng-show='!myProperties.playerStarted',ng-click='playAgain(true)') Yes
        button.big-button(ng-show='!myProperties.playerStarted',ng-click='playAgain(false)') No
        .message(ng-show='myProperties.playerStarted')
          .fa.fa-spinner.fa-pulse
          | Waiting for other players
    .overlay.alert(ng-show='alert')
      .contents(ng-click='alert = ""')
        h3 {{alert}}

  .footer 
    h3.message
      a(href='https://github.com/edward3h/crazy-eights/issues',target='issues',rel='noreferrer noopener') Bugs?
    p If you spot a bug, click here and open an issue.



  //- .container

  //-   .col-sm-12
  //-     h1.title Welcome to Crazy Eights

  //-   .col-sm-2.player-list
  //-     p Players
  //-     ul
  //-       li(ng-repeat='playerName in roomInfo.playerNames',
  //-         ng-class='{"current-player": $index == roomInfo.currentPlayer,"wants-to-start": roomInfo.playerGameStarted[$index]}') {{playerName}}

  //-   .col-sm-10(ng-show='roomInfo.gameState == "notstarted"')

  //-     p Game State: {{roomInfo.gameState}}

  //-     p Your username: {{username}}

  //-     p You are player number {{playerIndex + 1}}

  //-     button(ng-click='startGame()') Start Game!

  //-   .col-sm-10(ng-show='roomInfo.gameState == "started"')

  //-     p THE GAME HAS BEGUN!
