
.loading(ng-show='loading')
  .container
    h1.title Loading



.chat-room(ng-hide="loading")
  .container

    h1.title Room #<span class='room'>{{room}}</span>

















    //- ul.messages
    //-   li.title-bar
    //-     .user User
    //-     .message Message
    //-     .clearfix

    //-   li.message(ng-repeat="message in messages")
    //-     .user {{message.user}}
    //-     .message {{message.message}}
    //-     .clearfix

    //-   li.new-message

    //-     form(ng-submit="sendMessage()")

    //-       .user
    //-         input(type='text',name='user',ng-model='currentUser')

    //-       .message
    //-         input(type='text',name='message',ng-model='currentMessage')

    //-       button.send(type='submit') send

    //-       .clearfix
