html(ng-app="crazy-eights")
  head
    title Srsly
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    //- meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    != css('stylesheets/master')
    script(type='text/javascript',src='/socket.io/socket.io.js')
    != js('javascripts/master')
    base(href='/')
  body

    block content

    script.
      !function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-37589348-4","auto"),ga("send","pageview");
    block js
